<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [fixedTopGap]="(isHandset$ | async) ? 0 : 65"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-nav-list class="p-0">
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="ml-0">
    <app-nav (eventToggle)="dawerToggle()"></app-nav>
    <!-- Main Content -->
    <section 
        [ngClass]="{'ml-200': !(isHandset$ | async)}"
        class="sidenav-section">
        <div class="main-section">
          <router-outlet></router-outlet>
        </div>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>