<section>
    <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="userName" [editable]="editable" label="Usuario">
                <mat-form-field class="mb-3">
                    <mat-label>Usuario</mat-label>
                    <input 
                        matInput 
                        type="text" 
                        [formControl]="userName" 
                        placeholder="Ingrese el usuario de la cuenta.">
                    <mat-error>{{ showError(userName) }}</mat-error>
                </mat-form-field>
            
            <div fxLayout fxLayoutAlign="space-between center">
                <button mat-raised-button routerLink="/auth">
                    <mat-icon fxHide.xs>exit_to_app</mat-icon>
                    Salir
                </button>
                <button mat-raised-button 
                        color="primary" 
                        (click)="findUserName(stepper)"
                        [disabled]="getInvalid()">
                    Comprobar
                    <mat-icon fxHide.xs
                              *ngIf="!this.isChecked">
                            arrow_forward
                    </mat-icon>
                    <div *ngIf="this.isChecked" class="inline">
                        <i class="fa fa-spin fa-sync-alt"></i>
                    </div>
                </button>
            </div>
        </mat-step>
        <mat-step [stepControl]="formSecurity" [editable]="editable" label="Seguridad">
            <form [formGroup]="formSecurity" class="mb-3">
                <mat-form-field>
                    <mat-label>Pregunta de seguridad</mat-label>
                    <mat-select
                        formControlName="question1"
                        required>
                        <mat-option 
                            *ngFor="let q of questions; index as i"
                            [value]="i+1">
                            {{ q }}
                        </mat-option>
                        <mat-error>{{ showError(this.question1) }}</mat-error>
                    </mat-select>
                </mat-form-field>
        
                <mat-form-field>
                    <mat-label>Respuesta</mat-label>
                    <input 
                        type="text"
                        matInput
                        placeholder="Escribe tu respuesta."
                        formControlName="reply1"
                        required>
                        <mat-error>{{ showError(this.reply1) }}</mat-error>
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>Pregunta de seguridad</mat-label>
                    <mat-select
                        formControlName="question2"
                        required>
                        <mat-option
                            *ngFor="let q of questions; index as i"
                            [value]="i+1">
                            {{ q }}
                        </mat-option>
                    </mat-select>
                    <mat-error>{{ showError(this.question2) }}</mat-error>
                </mat-form-field>
        
                <mat-form-field>
                    <mat-label>Respuesta</mat-label>
                    <input 
                        type="text"
                        matInput
                        placeholder="Escribe tu respuesta."
                        formControlName="reply2"
                        required>
                        <mat-error>{{ showError(this.reply2) }}</mat-error>
                </mat-form-field>    
            </form>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <button mat-raised-button 
                        (click)="stepper.reset()">
                    <mat-icon fxhide.xs>arrow_back</mat-icon>
                    Atrás
                </button>
                <button mat-raised-button
                        [disabled]="this.formSecurity.invalid"
                        matStepperNext
                        color="primary">
                    Siguiente
                    <mat-icon fxHide.xs>arrow_forward</mat-icon>
                </button>
            </div>
            </mat-step>
        <mat-step [stepControl]="formReset" label="Nueva">
            <form [formGroup]="formReset" class="mb-3">
                <mat-form-field>
                    <input 
                        type="password"
                        matInput
                        formControlName="password"
                        placeholder="Escribe tu nueva clave."
                        required>
                        <mat-error>
                            {{ showError(this.password) }}
                        </mat-error>
                </mat-form-field>
                    
                <mat-form-field>
                    <input 
                    type="password"
                    matInput
                    formControlName="repeatPassword"
                    placeholder="Repita la nueva clave."
                    required>
                    <mat-error>
                        {{ showError(this.repeatPassword) }}
                    </mat-error>
                </mat-form-field>
            </form>
            <div fxLayout fxLayoutAlign="space-between center">
                <button mat-raised-button 
                        (click)="stepper.reset()">
                    <mat-icon fxHide.xs>restart_alt</mat-icon>
                    Reanudar
                </button>
                <button mat-raised-button 
                        color="primary" 
                        (click)="validResetPassword(stepper)"
                        [disabled]="formReset.invalid">
                    Comprobar
                    <mat-icon fxHide.xs>
                            arrow_forward
                    </mat-icon>
                </button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</section>
